@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* COMMON */
a {
  text-decoration: none;
}
a:link {
  color: red;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: underline;
}

img {
  display: block;
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

header {
  /* background: pink; */
}

header .inner {
  width: 1440px;
  height: 56px;
  margin: 0 auto;
  position: relative;
}

header .inner .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  margin: auto 0;
  padding: 130px;
  height: 18.23px;
}

header .inner .head_menu {
  /* background: yellow; */
  display: flex;
  font-weight: 700;
  list-style: none;
  position: absolute;
  right: 130;
  padding: 10px 0px;
  align-items: center;
  top: 10px;
  right: 130px;
  width: 245px;
  justify-content: space-between;
}

header .inner .head_menu .about {
  color: #999;
  font-size: 14px;
}

header .inner .head_menu .login {
  border-radius: 1px solid black;
  color: #0420bf;
  box-sizing: border-box;
}

header .inner .head_menu a:nth-child(3) {
  color: #0420bf;
}

.container {
  /* background: #777; */
}
main {
  background: #4a73f3;
  height: 670px;
  margin: 0 auto;
  position: relative;
}

main .main_container {
  background: green;
  width: 1180px;
  height: 670px;
  margin: 0 auto;
}

main .main_container img {
  float: right;
}

.container .main_text_container {
  background: orange;
  position: absolute;
}

.container .main_text_container span:first-child {
  background: red;
  width: 580px;
  line-height: 59.2px;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
}

.container .main_text_container span:last-child {
  background: blue;
  position: absolute;
}

.container .main_text_container .btn {
}

.container .menu {
  position: absolute;
  width: 100%;
  height: 72px;
  font-style: none;
  text-align: center;
  bottom: 0;
  background: green;
}

.container .menu ul {
  display: flex;
  justify-content: space-around;
}

.container .menu ul li {
  background: blue;
  list-style: none;
}
.container .menu ul li a {
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 24px; */
  color: #000;
}
